body {
	color: lightgrey;
	font-family: 'Love Ya Like A Sister', cursive;
	background: #333;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-size: 24px;
}
.container {
	height: 100vh;
	background-image: radial-gradient(circle, #555, #222);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
h1 {
	color: darkcyan;
}
button {
	background-color: darkcyan;
	border: 3px solid darkcyan;
	border-radius: 50%;
	color: white;
	width: 300px;
	height: 100px;
	font-family: 'Love Ya Like A Sister', cursive;
	font-size: 24px;
	outline: none;
	transition: 0.8s

}
button:hover {
	background-color: #777;
	cursor: pointer;
	color: #333;
}
a {
	text-decoration: none;
	color: grey;
	font-size: 16px;
	transition: 1s;
}
a:hover {
  color: pink;
}

